img{
    height: 300px;
    border: 20px solid grey;
}
body{
    border:5px dotted black;
}
body{
    margin:15px;
}
Body{
    font:12px;
    text-align: center;
    color: black;
}
a:hover { 
    background-color: pink;
}
.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fddaba;
}

.container:hover .overlay {
  opacity: 1;
}